
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'Icon' | trans }}</th>
                <th>{{ 'Image' | trans }}</th>
                <th>{{ 'PDF' | trans }}</th>
                <th>{{ 'Link' | trans }}</th>
                <th>{{ 'Tags' | trans }}</th>
            </tr>
            </thead>

            <tbody>
            {% for link in links %}
                <tr>
                    <td><img src="{{ link.favicon }}" /></td>
                    <td>
                        {% if link.screenshot %}
                            <a href="{{ link.screenshot }}" target="_blank">{{ 'screen' | trans }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if link.pdf %}
                            <a href="{{ link.pdf }}" target="_blank">{{ 'pdf' | trans }}</a>
                        {% endif %}
                    </td>
                    <td><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></td>
                    <td>
                        {% for tag in link.tags %}
                            <a href="{{ path('tags_show', {'slug': tag.slug}) }}">{{ tag }}</a>|
                        {% else %}
                            {{ 'No tags associated' | trans }}
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="5">{{ 'No Links available' | trans }}</td></tr>
            {% endfor %}
            </tbody>
        </table>