{% extends 'ScandioFireStarterBundle::layout.html.twig' %}

{% block content -%}
    <div class="intro">
        <h1>
            {{ channel ? channel : ('Starter' | trans) }}

            {% if channel %}
                <a href="{{ path('channels_add_tiles', {'slug': channel.slug}) }}" style="margin-left:5px;" class="btn btn-warning btn-lg pull-right">{{ 'Associate tiles' | trans }}</a>
            {% endif %}
            <button style="margin-left:5px;" class="btn btn-danger btn-lg pull-right" data-toggle="modal" data-target="#add-link-modal-">{{ 'Add link' | trans }}</button>
            <button style="margin-left:5px;" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#add-tile-modal">{{ 'Add tile' | trans }}</button>
            <a style="margin-left:5px;" href="{{ path('tiles_reorder_list') }}" class="btn btn-success btn-lg pull-right">{{ 'Resort' | trans }}</a>
        </h1>

        <p class="lead">
            {% if channel %}
                {{ channel.description | raw }}
            {% else %}
                <p class="lead">
                    <strong>{{ 'I\'m still in BETA.' | trans }}</strong>
                    <br />
                    {{ 'Home is where your WI-FI connects automatically' | trans }}
                </p>
            {% endif %}
        </p>
    </div>

    {% include 'ScandioFireStarterBundle:Tile:modal_add.html.twig' %}
    {% include 'ScandioFireStarterBundle:Link:modal_add.html.twig' %}

    {% for rows in entities %}
        <div class="row">
            {% for tile in rows %}
                {% include 'ScandioFireStarterBundle:Link:modal_add.html.twig' %}
                <div class="col-md-3">
                    <div class="box">
                        <img src="{{ tile.image }}" class="thumb" />
                        <div class="content">
                            <h1>
                                <a href="{{ path('tiles_show', {'id': tile.id}) }}">{{ tile.title }}</a>
                                <span class="label label-primary pull-right" >
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#add-link-modal-{{ tile.id }}">+</a>
                                </span>
                            </h1>

                            <div class="inside">
                                {% if tile.isType('widget') %}
                                    {{ tile.description | raw }}
                                {% else %}
                                    {{ tile.description }}<br/>

                                    {% for link in tile.links %}
                                        <a href="{{ path('links_out', {'id': link.id}) }}" title="{{ link.title }}" target="_blank">
                                            {% if link.favicon %}<img src="{{ link.favicon }}" />{% endif %}{{ link.title }}
                                        </a>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ 'No tiles' | trans }}
    {% endfor %}
{% endblock %}
