{% extends 'ScandioFireStarterBundle::layout.html.twig' %}

{% block content -%}
    <h1>
        {{ tile }}
        <button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#add-link-modal-{{ tile.id }}">{{ 'Add link' | trans }}</button>

        {% if tile.image %}
            <a style="margin-right: 5px;" href="{{ path('tiles_remove_image', {'id': tile.id}) }}" class="btn btn-danger btn-lg pull-right">{{ 'Remove Image' | trans }}</a>
        {% endif %}
    </h1>

    {% include 'ScandioFireStarterBundle:Link:modal_add.html.twig' %}

    <div class="row">
        <div class="col-lg-12">
            <p>{{ tile.description ? tile.description : ("No description available" | trans) }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            {% if tile.image %}
                <img src="{{ tile.image }}" class="img-responsive img-rounded" />
            {% else %}
                <form id="edit-tile-form" role="form" method="post" action="{{ path('tiles_add_image', {'id': tile.id}) }}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="image">{{ 'Image' | trans }}</label>
                        <input type="file" name="image" id="image">
                        <p class="help-block">{{ 'Upload your tile image' | trans }}</p>
                    </div>
                    <button class="btn btn-primary btn-lg pull-right" type="submit">{{ 'Save' | trans }}</button>
                </form>
            {% endif %}
        </div>
        <div class="col-lg-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{ 'Name' | trans }}</th>
                        <th>{{ 'Url' | trans }}</th>
                        <th>{{ 'Action' | trans }}</th>
                    </tr>
                </thead>

                <tbody>
                {% for link in tile.links %}
                    <tr>
                        <td><a href="{{ link.url }}" target="_blank">{{ link.title }}</a></td>
                        <td>{{ link.url }}</td>
                        <td>
                            <a href="{{ path('links_remove', {'id': link.id}) }}" class="btn btn-danger">{{ 'delete' | trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}