<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="/bundles/scandiofirestarter/vendor/stforze-firestarter/space_invader.ico">

    <title>{{ 'Fire Starter' | trans }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/bundles/scandiofirestarter/vendor/stforze-firestarter/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bundles/scandiofirestarter/vendor/stforze-firestarter/css/styles.css" rel="stylesheet">
    <link href="/bundles/scandiofirestarter/css/basic.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/bundles/scandiofirestarter/vendor/stforze-firestarter/js/html5shiv.js"></script>
    <script src="/bundles/scandiofirestarter/vendor/stforze-firestarter/js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    {% include 'ScandioFireStarterBundle:Channel:modal_add.html.twig' %}

    <!-- Navigation -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('tiles_index') }}">{{ 'Starter' | trans }}</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="{{ 'tiles_' in app.request.attributes.get('_route') ? 'active' : '' }}"><a href="{{ path('tiles_index') }}">{{ 'Home' | trans }}</a></li>
                    <li class="{{ 'links_uncategorized' in app.request.attributes.get('_route') ? 'active' : '' }}"><a href="{{ path('links_uncategorized') }}">{{ 'Uncategorized Links' | trans }}</a></li>
                    <li class="{{ 'tags_' in app.request.attributes.get('_route') ? 'active' : '' }}"><a href="{{ path('tags_index') }}">{{ 'Tags' | trans }}</a></li>
                    <li class="dropdown {{ 'channels_' in app.request.attributes.get('_route') ? 'active' : '' }}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'Channels' | trans }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for channel in channelManager.channels %}
                                <li><a href="{{ path('channels_show_tiles', {'slug': channel.slug}) }}">{{ channel }}</a></li>
                            {% else %}
                                <li><a href="javascirpt:void(0);">{{ 'No channels available' | trans }}</a></li>
                            {% endfor %}
                            <li class="divider"></li>
                            <li><a data-toggle="modal" data-target="#add-channel-modal">{{ 'Add new Channel' | trans }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!-- Navigation end -->

    <!-- content Area -->
    <div class="container">
        {% block content %}{% endblock %}
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bundles/scandiofirestarter/vendor/stforze-firestarter/js/jquery.js"></script>
    <script src="/bundles/scandiofirestarter/vendor/stforze-firestarter/js/bootstrap.min.js"></script>
    <script src="/bundles/scandiofirestarter/vendor/stforze-firestarter/js/script.js"></script>
    <script src="/bundles/scandiofirestarter/vendor/html5sortable/jquery.sortable.js"></script>
    {% block javascripts %}{% endblock %}

    <script type="application/javascript">
        $(function() {
            $('.link-url').blur(function() {
                var urlInput = $(this),
                    tagsInput = $(this).closest('form').find('input.link-tags'),
                    titleInput = $(this).closest('form').find('input.link-title');
                $.ajax({
                    url: '{{ path('links_keywords') }}',
                    dataType: 'json',
                    data: {url: urlInput.val()},
                    success: function(data) {
                        tagsInput.val(data.keywords);
                        titleInput.val(data.title);
                    }
                })
            });
        });
    </script>

</body>
</html>