{% set tileId = tile is defined ? tile.id : false %}

<div id="add-link-modal-{{ tileId }}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'Add a new link' | trans }}</h4>
            </div>
            <div class="modal-body">
                <form id="add-link-form-{{ tileId }}" role="form" method="post" action="{{ path('links_add', (tileId ? {'id': tileId} : {}) ) }}" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="url">{{ 'Url' | trans }}</label>
                        <input type="text" class="form-control link-url" name="url" placeholder="{{ 'Add a link name' | trans }}">
                    </div>

                    <div class="form-group">
                        <label for="title">{{ 'Title' | trans }}</label>
                        <input type="text" class="form-control link-title" name="title" placeholder="{{ 'Add a link name' | trans }}">
                    </div>

                    <div class="form-group">
                        <label for="tags">{{ 'Tags' | trans }}</label>
                        <input type="text" class="form-control link-tags" name="tags" placeholder="{{ 'i.e. technology, fun, ... Seperate with comma' | trans }}">
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="take-screenshots"> {{ 'Add screenshots' | trans }}
                        </label>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close' | trans }}</button>
                <button type="button" class="btn btn-primary" onclick="$('#add-link-form-{{ tileId }}').submit();">{{ 'Add' | trans }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
