{% extends 'ScandioFireStarterBundle::layout.html.twig' %}

{% block content -%}
    <div class="intro">
        <h1>{{ channel }}</h1>
    </div>

    {% for rows in tiles %}
        <div class="row">
            {% for tile in rows %}
                <div class="col-md-3">
                    <div class="box">
                        <img src="{{ tile.image }}" class="thumb" />
                        <div class="content">
                            <h1>
                                <a href="{{ path('tiles_show', {'id': tile.id}) }}">{{ tile.title }}</a>
                                <span class="pull-right" >
                                    <a class="btn btn-{{ channel.has(tile) ? 'danger' : 'success' }}" href="{{ path('channels_toggle', {'slug': channel.slug, 'tileId': tile.id}) }}">
                                        {{ channel.has(tile) ? 'remove' : 'add' }}
                                    </a>
                                </span>
                            </h1>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ 'No tiles' | trans }}
    {% endfor %}
{% endblock %}
